vendor
tools
test
error
srcc
.env
.htaccess
index.php
psalm.xml
composer.lock
keys/*.key
runtime-data/media/audio/*
runtime-data/media/chat/*
runtime-data/media/cover/*
runtime-data/media/image/*
runtime-data/media/other/*
runtime-data/media/profile/*
runtime-data/media/text/*
runtime-data/media/userData/*
runtime-data/media/video/*
runtime-data/logs/*
runtime-data/ratelimiter/*
!/**/placeholder.txt
*_rate_limiter_storage.json
