vendor
tools
test
error
srcc
.env
.htaccess
index.php
psalm.xml
composer.lock
keys/*.key
runtime-data/media/assets/*
runtime-data/media/audio/*
runtime-data/media/chat/*
runtime-data/media/cover/*
runtime-data/media/image/*
runtime-data/media/other/*
runtime-data/media/profile/*
runtime-data/media/text/*
runtime-data/media/userData/*
runtime-data/media/video/*
runtime-data/media/tmp/*
runtime-data/logs/*
runtime-data/ratelimiter/*
!/**/placeholder.txt
!/**/response-codes.json
*_rate_limiter_storage.json
tests/postman_collection/tmp_*.json
newman/reports/
sql_files_for_import_tmp/
supervisord.pid